# Ignore everything
*

# Include list
!.gitignore
!README.md
!/starship
!/starship/*
!/sway/
!/sway/**
!/zsh/
!/zsh/.zprofile
!/zsh/.zshrc
!/zsh/site-functions
!/zsh/site-functions/*
!/zsh/plugins
!/zsh/plugins/*
!/mako
!/mako/*
!/nvim
!/nvim/**
!/kitty
!/kitty/**
!/openssl
!/openssl/legacy.conf
!/waybar
!/waybar/**
!/mako
!/mako/**
!/wofi
!/wofi/**
!/git
!/git/config
