# Ignore everything
*

# Include list
!.gitignore
!README.md
!/starship
!/starship/*
!/sway/
!/sway/**
!/zsh/
!/zsh/.zprofile
!/zsh/.zshrc
!/zsh/site-functions
!/zsh/site-functions/*
!/zsh/plugins
!/zsh/plugins/**
!/mako
!/mako/*
!/nvim
!/nvim/**
!/kitty
!/kitty/**
!/openssl
!/openssl/legacy.conf
!/waybar
!/waybar/**
!/mako
!/mako/**
!/wofi
!/wofi/**
!/git
!/git/config
!/kanshi
!/kanshi/**
!/wezterm
!/wezterm/*
!/glzr
!/glzr/glazewm
!/glzr/glazewm/config.yaml
!/glzr/zebar
!/glzr/zebar/starter
!/glzr/zebar/starter/with-glazewm.zebar.json
!/glzr/zebar/starter/with-glazewm.html
!/glzr/zebar/starter/styles.css
!/glzr/zebar/settings.json
