# Ignore everything
*

# Include list
!.gitignore
!README.md
!/starship
!/starship/*
!/sway/
!/sway/**
!/zsh/
!/zsh/.zprofile
!/zsh/.zshrc
!/zsh/site-functions
!/zsh/site-functions/*
!/zsh/plugins
!/zsh/plugins/**
!/mako
!/mako/*
!/nvim
!/nvim/**
!/kitty
!/kitty/**
!/openssl
!/openssl/legacy.conf
!/waybar
!/waybar/**
!/mako
!/mako/**
!/wofi
!/wofi/**
!/git
!/git/config
!/kanshi
!/kanshi/**
!/wezterm
!/wezterm/*
!/glazewm
!/glazewm/config.yaml
!/zebar
!/zebar/settings.json
!/zebar/starter
!/zebar/starter/with-glazewm.zebar.json
!/zebar/starter/with-glazewm.html
!/zebar/starter/styles.css
!/WindowsPowerShell
!/WindowsPowerShell/Microsoft.PowerShell_profile.ps1
!/bat
!/bat/**
!/ripgrep
!/ripgrep/**
!/ps1
!/ps1/**
