* {
    border: none;
    border-radius: 0;
    font-family: "DejaVu Sans Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #242933;
    border-bottom: 0px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .2s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #eceff4;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#cpu,
#memory,
#battery,
#backlight,
#network,
#memory,
#pulseaudio,
#bluetooth,
#temperature,
#idle_inhibitor,
#custom-xbps,
#tray {
    padding: 0 14px;
    margin: 0 0px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}

#custom-xbps {
    border-right: none;
}

#tray {
  border-right: none;
  border-left: 1px solid #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #e5e9f0;
    }
}

#battery.critical:not(.charging) {
    background-color: #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.out {
}

#pulseaudio.in{
}

#bluetooth {
}

#backlight {
}

#temperature {
}

#battery {
}

#network {
}
